header {
  padding: 0.5em;
  text-align: center;
  height: 100px;
}

/*the whole content styling*/
.content {
  width: 1400px;
  margin: 30px auto;

  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 600px 50px 700px 700px;
}

/*world map styling*/
.worldmap {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background: lightblue;
  border: 1px solid darkgray;
  position: relative;
}

#map-chart svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

#flow-chart svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

.countries {
  fill: white;
  stroke: rgb(0, 0, 0);
  stroke-width: .8px;
}

.country-marker {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.mark {
  cursor: pointer;
}

.country-highlight {
  stroke: rgb(0, 0, 0);
  stroke-width: .8px;
  transition: 0.3s;
}

.country-highlight:hover {
  cursor: pointer;
  fill: rgb(56, 56, 56);
}

#map-tooltip {
  position: absolute;
  min-width: 300px;
  min-height: 20px;
  padding: 5px;
  background: aquamarine;
  stroke: gray;
  border-radius: 8px;
  pointer-events: none;
}

#map-tooltip * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.selected-country {
  fill: burlywood;
}

.legend-label {
  font-size: small;
}

/*description styling*/
.desc {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.toolbar {
  height: 24px;
  margin-top: 10px;
}

/*For the slider*/
.toggle-text {
  padding-right: 15px;
  font-size: 15px;
  vertical-align: middle;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  vertical-align: middle;
  margin-right: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*flow chart styling*/
.flowchart {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

/*line chart styling*/
.linechart {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  position: relative;
}

.explain {
  position: absolute;
  top: 0;
  left: 0;
}

#line-country {
  position: absolute;
  top: 20px;
  left: 75px;
  font-weight: bold;
}

#line-totalIm {
  position: absolute;
  top: 40px;
  left: 75px;
  color: red;
}

#line-totalEm {
  position: absolute;
  top: 60px;
  left: 75px;
  color: blue
}

#immigration-line {
  fill: none;
  stroke: red;
  stroke-width: 1.5;
}

#emigration-line {
  fill: none;
  stroke: blue;
  stroke-width: 1.5;
}

#gap-immigration-line, #gap-emigration-line {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5;
}

/*table styling*/
.table {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  position: relative; 
}

.table-view {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: azure;
}

th {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgb(144, 177, 180);
}

.immigrant-bar {
  fill: red;
}

.emigrant-bar {
  fill: blue;
}

/*bar chart styling*/
.barchart {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}